$color-light-grey: #f7f7f7;
$color-medium-grey: rgba(169, 169, 169, 0.808);
$color-dark-grey: rgba(105, 105, 105, 0.692);
$color-black: #000;

$color-light-gold: rgba(219, 206, 86, 0.612);
$color-medium-gold: rgba(155, 139, 48, 0.705);
$color-dark-gold: rgba(88, 64, 3, 0.904);

$color-light-green: rgba(32, 182, 82, 0.932);
$color-medium-green: rgba(25, 116, 9, 0.911);
$color-dark-green: rgba(1, 34, 23, 0.911);

.social__images {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 100%;
  border: 2px solid gold;
}

.social {
  text-align: center;
  padding: 30px;
  background-image: linear-gradient(
    to top,
    $color-dark-green,
    $color-medium-green,
    $color-light-green
  );

  &__connect {
    background-image: linear-gradient(
      to bottom,
      $color-dark-gold,
      $color-medium-gold,
      $color-light-gold
    );
  }

  &__icons {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.social__copy {
  font-size: 20px;
}
